@import 'vars';

.bg-black-dark {
  background: $black-dark;
}
.bg-black-light {
  background: $black-light;
}

.color-grey {
  color: $grey;
}
.color-grey-light {
  color: $grey-light;
}
.color-red-dark {
  color: $red-dark;
}
.color-red {
  color: $red;
}
