@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Jura-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Jura-Medium.ttf') format('ttf');
}
