$black-dark: #12141B; // bg
$black-light: #1A1C23; // bg card
$black-light-2: #1E2027; // bg statistic, select
$black-light-3: #303238; // border

$grey-light: #DCD8D3; // color text
$grey: #8C8988; // color title text

$red-dark: #CF7B5A33; // border
$red: #CF7B5A; // color active text

$border-radius: 16px;
